
{% block recaptcha_submit_widget %}
<script src="https://www.google.com/recaptcha/api.js" async defer>
    
   function RecaptchaSubmit(token) {
     var elem = document.getElementById('{{ id }}');
     while(elem.parentElement !== null){
         if (elem.tagName === 'FORM') {
             elem.submit()
             break
         }
        elem = elem.parentElement
     }
   }
 </script>
<div class="g-recaptcha" data-sitekey="6Lf-1tQaAAAAAKBPM1uHBh8l73ZoPQytZgjxPEo-" data-callback="RecaptchaSubmit"></div>
    
{% endblock %}